<nav class="navbar navbar-expand-lg  bg-dark">
  <div class="container">
    <!-- Button for mobile navigation -->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item navbar-white">
          <a class="nav-link" routerLink="">
            العربة
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            دخول
            <i class="fas fa-user"></i>
          </a>
        </li>
        <li class="nav-item">
          <input class="nav-link form-control" style="color: #000;" type="text"
            placeholder="                                                                                              .... ابحث ">
        </li>
      </ul>
    </div>
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/images/ecommerce-logo-png-3.png" alt="Logo" height="40">
    </a>
  </div>


</nav>
