.container {
  margin-top: 3px;
  margin-bottom: 240px;
}
.row {
  color: rgb(55, 54, 54);
  padding: 10px;
  text-align: center;
}
.form {
  width: 400px;
  margin-left: 55px;
}
.form-group input {
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
}
.btn {
  border: 1px solid;
  padding-left: 130px;
  padding-right: 130px;
  border-radius: 10px;
  background-color: rgb(55, 54, 54);
  color: aliceblue;
}
.cont {
  margin-top: 7px;
  display: block;
}
.cont h6 {
  width: 100%;
  text-align: center;
}
.cont button {
  border: none;
}
