/* product-list.component.scss */
.result{
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
  margin: 6px;
}

.container2{
  position: absolute;
  left: 88%;
  top: 30%;

}
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  // padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}
.card img{
  height: 200px;
}
.price {
  font-size: 1rem;
  margin: 2px;
  font-weight: bold;
  // color: #009688;
}

.price-value {
  font-size: 1.2rem;
  font-weight: bold;
  // color: #009688;
}

.rating {
  font-size: 1rem;
  font-weight: bold;
}

.rating-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  filter: grayscale(0%); /* Adjust as needed for your rating icon */
}
.left{
  padding-left: 13px;
}
.right{
  padding-right: 13px;
}
.right img{
  width: 16px;
  height: 16px;
}
.right p{
  font-size: 18px;
  color: rgb(228, 228, 117);
}

.custom-button {
  background-color: #666;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px; 
}

.custom-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

@media (max-width: 768px) {
  .container2 {
    position: static;
    margin-top: 20px;
  }
}
