.row {
  justify-content: center;
}
.col-5,
.col-md-4,
.col-lg-2 {
  margin: 10px;
  // padding: 10px;
  text-align: center;
  background-color: #fcfefe;
  border-radius: 10px;
}

.img-fluid {
  width: 100%;
  border-radius: 10px;
}

.text-center {
  margin-top: 10px;
  font-weight: bold;
}

.pagination-button {
  position: relative;
  left: 44%;
  text-align: center;
  background-color: #fff;
  color: #959393;
  border: none;
  padding: 7px;
  cursor: pointer;
  margin: 15px;
  margin-bottom: 180px;
}
.pagination-button:hover {
  background-color: #959393;
  color: #fff;
}
