<div class="container">
  <div class="row my-5  d-flex ">
    <ng-container *ngIf="categories">
      <div class="col-5 col-md-4 col-lg-2" *ngFor="let category of categories">
        <img src="{{ category?.image }}" class="d-block img-fluid" alt="Image 1">
        <p class="text-center">{{ category?.name }}</p>
      </div>
    </ng-container>
    <div *ngIf="!categories">Loading categories...</div>
  </div>
  <div class="container">

  </div>

</div>
<div class="text-center">
  <button class="btn custom-button" (click)="prevPage()" [disabled]="paginationResult.currentPage === 1">الصفحة
    السابقة</button>
  <button class="btn custom-button" (click)="nextPage()"
    [disabled]="paginationResult.currentPage === paginationResult.totalPages">الصفحة التالية</button>
</div>


