<!-- category-header.component.html -->

<div class="header">
  <ul class="category-list">
    <li class="category-item"><a>المزيد..</a></li>
    <li class="category-item"><a>تخفيضات</a></li>
    <li class="category-item"><a>تخفيضات</a></li>
    <li class="category-item"><a>تخفيضات</a></li>
    <li class="category-item"><a>تخفيضات</a></li>
    <li class="category-item"><a>الكترونات</a></li>
    <li class="category-item"><a>الملابس</a></li>
    <li class="category-item"><a>كهرباء</a></li>
    <li class="category-item"><a>الكل</a></li>

  </ul>
</div>
